{% extends "base.html" %}


{% block content %}

<div class="row mt-3">
    <div class="col-4">
        <h1>Index</h1>
        <p class="text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores, similique?</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="{% url 'group' %}"><b>Group</b></a></li>
        </ul>
    </div>
    <div class="col-8">
        <div class="card mb-4">
            <ul class="list-group list-group-flush">

                {% for post in posts %}
                <li class="list-group-item">
                    <p>{{ post.message }}</p>
                    <a href=""><b>@{{ post.user }}</b></a>
                    at <a href=""><b> {{ post.created_at }}</b></a>

                    {% if post.group %}
                    in <a href=""><b> {{ post.group }}</b></a>
                    {% endif %}
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>
</div>
{% endblock content %}